@import '~normalize.css';
@import 'fonts.css';

body{
    font-size: 20px; 
    font-family: 'Roboto', sans-serif;
    background: #EEF0F8!important;
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}